.backgroundSet {
    background-image: url("./assets/images/laptop.jpg");
    width: '100%';
    height: '100%';
    background-repeat: 'no-repeat';
    background-size: 'cover';
}
.padding20 {
  padding: 20px;
}
.padding-r-20 {
    padding-right: 20px;
  }
  .margin0 {
      margin: 0px !important;
  }
  .padding0 {
    padding: 0px !important;
  }
  .contentCenter{
      justify-content: center;
  }
  .textCenter {
    text-align: center;
  }
  .shadow {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.41);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.41);
 }
 li {
    list-style-type : none;
  }

  .footer {
    background-color: dimgray;
    height: 200px; 
    color: black;
  }
